// Specific CSS for your home-page
body {
  background-color: white;
}
.navbar-content-companion {
 height: 70px;
 // border: 2px solid pink;
}
a {
  color: #544B4A;
  font-weight: bold;
}

a:hover {
  color: #A18F8D;
  text-decoration: none;
  font-weight: bold;
}

.description {
  opacity: 0.5;
  text-align: justify;
}
