<h1 class="text-center">Dolls</h1>


<div class="container">
  <div class="row">
    <% @dolls.each do |doll| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center" style="background-image: url('<%= image_path "doll#{doll.id}.jpg" %>')">
        </div>

        <div class="card-body text-center"><p><%= doll.price %> euros</p>
         <p> <%= link_to doll.name, doll_path(doll) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


