<h1 class="text-center">Dolls</h1>


<div class="container">
  <div class="row">
    <% @dolls.each do |doll| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
            <div class="card-header" style="background-image: url('<%= image_path  "doll1.jpg" %>')">
            <p><%= @doll.price %></p>
            </div>
        </div>
        <div class="card-body">
          <%= link_to doll.name, doll_path(doll) %>
        </div>
      </div>
    <% end %>
  </div>
</div>


