<h1 class="text-center">Dolls#show</h1>

<div class="container">
  <div class="card">
  <%= @doll.name%>
  <%= @doll.description%>
  <%= @doll.price %>
  <%= render "bookings/form", doll: @doll, booking: @booking %>

  </div>
</div>
