.content {
  height: 1000px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 50%;
  // background-color: red;
}
.card {
  height: 440px;
  width: 100%;
  color: gray;
  position: relative;
}
.card-content{
  color:#333333;
  height: 440px;
  width: 435px;
  padding: 20px;
  background-color: white;
}
.card-image{
  height: 400px;
  width: 350px;
  background-size: cover;
  padding: 20px;
  margin: auto;
}
.doll_description{
  margin-bottom: 20px;
  font-size: 20px;
}
.doll_name{
  font-size: 40px;
  margin-bottom: 40px;
}
.price{
  font-size: 32px;
  color: $pink;
  letter-spacing: -1px;
  margin-bottom: 0px;
}
.btn{
  margin-top:30px;
}
.btn-booking {
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: medium;
  background: $pink;
  transition: background 0.3s ease;
}
.btn-booking:hover {
  opacity: 1;
  background: #FF0080;
  text-decoration: none;
  color: white;
}


