

.card-edit-doll{
  margin-top: 25px
}

.dolldescription{
  margin-top: 30px;
  color: rgb(120,120,120);
}

h1{
  font-size: 22px;
}

.doll-name{
  font-size: 18px;
}

.form-group-reduced{
  max-width: 251px;
}
