

.card-edit-doll{
  margin-top: 25px
}

.dolldescription{
  margin-top: 30px;
  color: rgb(120,120,120);
}

h1{
  font-size: 46px;
}

.doll-name{
  font-size: 18px;
}

.form-group-reduced{
  max-width: 251px;
}

.form-group-photo{
  border: 2px solid rgb(200,200,200);
  border-style: dashed;
  height: 140px;
  text-align: center;
  display: block;
  li{
  margin-top: 10px;
  list-style: none;
  }
}

#button-choose-file{
  border: none;
}

.control-label.attachinary.optional.doll-name{
display: none;
}

#label-photo{
  font-size: 18px;
  font-weight: 600;
}


.custom-file-photo{
 margin-top: 10px;
  // float: left;
}

