
.btn-booking {
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: medium;
  background: $pink;
  transition: background 0.3s ease;
}
.btn-booking:hover {
  opacity: 1;
  background: #FF0080;
  text-decoration: none;
  color: white;
}
