.btn-social{
  // max-width: 550px;
  text-align: center;
  display: block;
  border-color: rgb(200,200,200);
}

.card-login{
  margin-top: 25px
}

.email-signup{
  margin-top: 50px;
  color: rgb(120,120,120);
}
