.message {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: $pink;
  // border: 1px solid $pink;
  margin-top: 10px;
  border-radius: 4px;
}

.message-body {
  flex-grow: 1;
}
.message-name {
  margin: 0 auto;
  font-weight: bold;
  font-size:18px;
  color: white;
  // margin: 0px;
}
.message-name h3{
  margin: 0;
}
.message-body {
  // padding-left: 10px;
  font-size: 16px;
  color: rgba(0,0,0,0.7);
  margin: 0 auto;
  color: white;
}
.message-body p{
  margin: 0;
}
.message-status {
  font-size: 30px;
}

