.card-profile{
  margin: auto;
  padding-top: 20px;
}
.card-profile-cancel {
  margin-top: 40px;
  margin-top: 40px;
  justify-content: space-between;
  display: flex;
}
.card-profile-activity {
  padding-top: 60px;
}
.buttons {
  margin-bottom: 20px;
}
.image-small {
  width: 100px;
}
.profil-doll {
  width: 100%;
  min-height: 300px;
  color: white;
  i {
    color:white;
  }
}
.profil-doll-image {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
