

#custom-search-input {
        margin:0;
        margin-top: 30px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 8px;
        height: 70px;
    }


    .search-query:focus + button {
        z-index: 3;
    }

    .fake-input{
      display: flex;
      justify-content: space-between;
      border: 1px solid rgb(220,220,220);
      padding: 10px 30px ;
      margin-top: 35px;
      border-radius: 8px;
      height: 80px;
      input, input:focus, input:hover, textarea:focus, textarea:hover {
        width: 88%;
        border: none;
        outline: none !important;
    }
}

span {
  z-index: 10;
}


#button-search{
  width: 130px;
  height: 48px;
  margin-top: 5px;
  margin-right: -15px;
  border-radius: 6px;
  color: white;
}

.btn-pink{
  background-color: $pink;
}
